In [1]:
var1 = 'Indian cricket team'
var2 = "Bank of America "
var3 = "*"
print(var1)
print(var2)

Indian cricket team
Bank of America

In [2]:
'''
Triple quotes
# string Operators
#  + , * , [], [:] , in, not in,
# r - Raw string 
#  % = string format 
'''

print(var3 * 60 )     # Prints string two times
print(var2 + "Add to Bank of India" )# Prints concatenated string
print( "[0]: ", var1[0]) # index, extract
print("[0:4]: ", var2[0:4])  # slicing
print("var in  ", "of" in var2)  # in - True / false 
print("var in  ", "of" not in var2)  # in - True / false

************************************************************
Bank of America Add to Bank of India
[0]:  I
[0:4]:  Bank
var in   True
var in   False

In [3]:

print("My name is %s and my score is %d runs!" % ('Pavan', 69)) 
print("My name is %s and my score is %0.3f runs!" % ('Pavan', 69))

# %s = string , %d = digits  , %f = floating point number
# %e  = exponetial

My name is Pavan and my score is 69 runs!
My name is Pavan and my score is 69.000 runs!

In [4]:
# Raw string
print(r'C:\\nowhere')
print('C:\\nowhere')

C:\\nowhere
C:\nowhere

In [5]:
# string functions

print( "capitalize() : ", var1.capitalize())
print( "lower : ", var1.lower())
print( "upper: ", var1.upper())
print( "Count of string(s) : ", var1.count("cricket")) 
print( "Length of a string: ", len(var1))
print( "Title: ", var1.title())
print("remove First and end white spaces - ", var1.strip())

capitalize() :  Indian cricket team
lower :  indian cricket team
upper:  INDIAN CRICKET TEAM
Count of string(s) :  1
Length of a string:  19
Title:  Indian Cricket Team
remove First and end white spaces -  Indian cricket team

In [6]:
print( "split", var1.split(' ') )

str = "_"
str1 = ( "indian", "cricket", "team" )
print ("Join",  str.join(str1))

split ['Indian', 'cricket', 'team']
Join indian_cricket_team

In [7]:

# string immutable ? ? 
print(var1)       # output is displayed
##var1[2] = 'E'
#print(var1)       # causes error
print(var1[:2] + 'Python')
print("Updated String :- ", var1[:6] + 'Python')

Indian cricket team
InPython
Updated String :-  IndianPython

In [8]:
# escape characters
# \n, \t

print("text - ", var1 ,"\t" , var2, "\n")
print("text - ", var1 ,"\n")

text -  Indian cricket team 	 Bank of America

text -  Indian cricket team